@import "tailwindcss";

body {
  color: hsl(228, 39%, 23%);
  overflow-x: hidden;
}

.text {
  color: #242d52;
}

.bg-orange {
  background: hsl(12, 88%, 59%);
}

.bg-orange-light {
  background: #ffefeb;
}

button{
  cursor: pointer;
}
button:hover{
  opacity: 80%;
}

.trans{
  transition: 5s ease-in-out all ;
}

.fixed{
  background: #00000061;
}

.grey9{
  background: hsl(233, 12%, 13%);
}

.swiper-pagination{
  bottom: -5px !important;
}

.swiper-pagination-bullet{
  background: hsl(12, 88%, 59%) !important;
}

@media (min-width: 1000px){
  .swiper-pagination{
    display: none;
  }
}