@import "tailwindcss";

body {
  color: hsl(228, 39%, 23%);
}

.text {
  color: hsl(228, 39%, 23%);
}

.bg-orange {
  background: hsl(12, 88%, 59%);
}

.bg-orange-light {
  background: #ffefeb;
}

button{
  cursor: pointer;
}
button:hover{
  opacity: 80%;
}

.fixed{
  background: #00000061;
}